<h1>Northwind Products</h1>

<p>This component demonstrates fetching data from the server.(Northwind)</p>

<p *ngIf="!products"><em>Products Loading...</em></p>

<table class='table' *ngIf="products">
    <thead>
        <tr>
            <th>Product ID</th>
            <th>Product Name</th>
            <th>Price</th>
            <th>Units In Stock</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let product of products">
            <td>{{ product.id }}</td>
            <td>{{ product.productname }}</td>
            <td>{{ product.price }}</td>
            <td>{{ product.unitinstock }}</td>
        </tr>
    </tbody>
</table>
